# Environment variables example
# Copy this to .env.local for local overrides

# API Timeout Configuration (milliseconds)
VITE_API_TIMEOUT=100000

# Problem Service Configuration
VITE_PROBLEM_SERVICE_URL=http://localhost:3000/api/v1

# Submission Service Configuration
VITE_SUBMISSION_SERVICE_URL=http://localhost:3001/api/v1

# Challenge Service Configuration
VITE_CHALLENGE_SERVICE_URL=http://localhost:3101/api/v1

# Supabase Configuration
VITE_SUPABASE_URL=xxx
VITE_SUPABASE_PUBLISHABLE_DEFAULT_KEY=xxx

# url for websocket connection
VITE_BATTLE_SOCKET_URL=ws://localhost:3101