RABBITMQ_URL=amqp://guest:guest@localhost:5672/
POOL_SIZE=3
QUEUE_NAME=submission_queue # queue should be same as what is being used in the submission service
PROBLEM_SERVICE_BASE_URL=http://localhost:3000/api/v1
SUBMISSION_SERVICE_BASE_URL=http://localhost:3001/api/v1

# the API key through which internal evaluator workers communicate
X_API_KEY=your_api_key